.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container > div {
    margin: 1em;
    border: solid 1px lightgray;
    border-radius: 10px;
}

.buttons > * {
    margin: 0.5em 1em;
}

@media screen and (max-width: 560px) {
    .container {
        display: block;
    }
 
}
 