.body {
    position: relative;
    margin: 1em 0;
    line-height: 1.6;
    padding: 0;
}

.body :first-child{
    width: 100%;
    padding: 1em;
}

.beforeItems {
    font-weight: bold;
    font-style: italic;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.list {
    position: absolute;
    top: calc(100% - 0.25rem);
    left: -5em;
    right: -5em;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.item{
    display: block;
    width: 100%;
    padding: 0;
}

.item:focus{
    background-color: greenyellow;
    color: green;
}
