.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    max-width: 1000px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    color:#747bff;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
}

.modalHeader h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.closeButton {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #666;
    line-height: 1;
}

.closeButton:hover {
    color: #747bff;
}

.modalBody {
    margin: 1em 0;
    line-height: 1.6;
}

.modalBody :first-child{
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
}

.item{
    display: block;
    width: 100%;
}
