.navbar {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > * {
    padding: 1em;
}

.navbar > button {
    font-weight: 500;
    text-decoration: inherit;
    /*color: #646cff;*/
    background-color: transparent;
}

.navbar > a {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: border-color 0.25s;
    border-radius: 8px;
}

.default > a:hover {
  border-color: #535bf2;
}

.primary{
    background-color: #f2f2f1;
}

.secondary{
    justify-content: space-evenly;
}

.primary > a:hover {
  border-color: black;
}

.default > button {
    color: #646cff;
}