.formField {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formField > * {
    margin: 1em 0;
    padding: 0.5em 1em;
}

.formField > select {
    background-color: white;
}

.formField > select > option:hover {
    background-color: green;
}