.formField {
    display: flex;
    justify-content: space-between;
}

.formField > * {
    margin: 1em 0;
    padding: 0.5em 1em;
}

.formField > textarea {
    width: 60%;
    resize: none;
}

.container > p {
    font-size: 0.8em;
    color: red;
}