.container {
    display: flex;
    align-items: center;
}

.container > * {
    margin: 1em;
}

.institution {
    font-weight: bold;
}

.button {
    margin-left: auto;
    margin-right: 0;
}

@media screen and (max-width: 560px) {
    .container, .export {
        display: block;
    }    
}